<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>120478189068-l362kfkscqp1a7f5khj6psa5c9jcnidn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120478189068-l362kfkscqp1a7f5khj6psa5c9jcnidn</string>
	<key>API_KEY</key>
	<string>AIzaSyB0iB7BoHI-ktK9NVWD2NUwQcT9uYx-URk</string>
	<key>GCM_SENDER_ID</key>
	<string>120478189068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.Assignment3</string>
	<key>PROJECT_ID</key>
	<string>ass3-99fe9</string>
	<key>STORAGE_BUCKET</key>
	<string>ass3-99fe9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120478189068:ios:32f460b6a1dfca4a</string>
	<key>DATABASE_URL</key>
	<string>https://ass3-99fe9.firebaseio.com</string>
</dict>
</plist>